<h1>Preguntas y respuestas</h1>

          

<p><strong>Como puedo ofertar mis espacios de estacionamientos?</strong></p>

<p>Primero tienes que registrarte introduciendo tus datos.</p>

<p><strong>Como puedo saber si todos mis espacios ofertados están copados?</strong></p>

<p>Con el usuario que te registraste, puedes ir al menu Administrar y verificar tus espacios.</p>

<p><strong>Cuanto es el costo del aplicativo web?</strong></p>

<p>Automáticamente se descuenta el 20% del precio de alquiler de cada estacionamiento.</p>

<p><strong>Cuanto tiempo dura las reservaciones?</strong></p>

<p>10 minutos después de cumplirse la hora marcada como ingreso.</p>

<p><strong>Existe algún contrato o tiempo de vinculación con el servicio?</strong></p>

<p>No, la aplicación está libre de tiempos de contrato.</p>

<p><strong>Puedo ofertar varios espacios de estacionamiento?</strong></p>

<p>Si, con un mismo usuario.</p>

<p><strong>Puedo ir ofertando diferentes precios de acuerdo como avanza el día?</strong></p>

<p>Si, de acuerdo a la capacidad disponible.</p>

<p><strong>Puedo otorgar precios especiales a mis clientes frecuentes?</strong></p>

<p>Es correcto, en el menu Administración puede mostrar un listado de sus clientes frecuentes.</p>

<p><strong>Me puedo desvincular de la aplicación cuando ya no la necesite?</strong></p>

<p>Si, con libertad.  No hay contrato ni tiempos establecidos.</p>