

    
    <div class="alert alert-success" role="alert">
        
    <strong class="text-success"><%= session[:usuario] %>, Su pago se realizó con exito.</strong>
    <p>Código de alquiler : 8074bf9fd0ae10de217de8a1e2d9454a</p>
    <p class="text-success"> Gracias </p>
        
    </div>